@import url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap);

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


@font-face {
  font-family: gilroy;
  src: url(../fonts/Gilroy-ExtraBold.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif; 
}

/* h1, h2, h3, h4, b{
  font-family: 'Manrope', sans-serif; 
  font-weight: 800;
} */





  @keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body{
  animation: fadein 1s;
}

/* NEW ADDITIONS */

.container{
  display: grid;
  grid-template-areas: "left-bar main";
  grid-template-columns: 1.5fr 4fr;
  /* grid-template-rows: 50px auto; */
  /* align-items: center;
  justify-content: center; */
  height: 100vh;
}


@keyframes lineAnimation {
  from {
      height: 0;
  }
  to {
      height: 100%;
  }
}



.left-bar{
  background-color: #FBFAF8;
  border-right: 1px solid gray;
}


/* .left-bar::after{
  content: '';
  display: block;
  width: 1px;
  
  background: red;
  transition: height .3s;
  animation: lineAnimation 1s;
} */

.main{
  /* background-color: green; */
}

.left-text{
  /* padding: 60px;  */
  /* background-color: blue; */
  position: sticky;
  top: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  /* padding-top: 2.75em; */
}

.left-containter-top-center > h1{
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  font-weight: 900;
  width: 50%;
  font-family: gilroy;
  margin: 15px auto;
  padding-bottom: 15px;
  font-size: 1.5em;
  display: block;
  position: relative;
}


/* .left-text > h1::after{
  content: '';
  height: 0px;
  width: 20px;
  position: absolute;
  bottom: -9px;
  width: 100%;
  margin: 0 auto;
  right: 0%;
  border-bottom: 2px dotted black;
} */


.left-text > p{
  margin-bottom: 10px;
}

.skills{
  /* background: yellow; */
    height: 14%;
    display: grid;
    align-items: end;
    padding: 60px;
    position: sticky;
    top: 0;
}

.social > p{
  font-size: 1.5em;
}

.social > p > i{
  margin-right: 10px;
}


.project-preview{
  width: 65%;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 3em;
  margin-bottom: 1em;
}

.project-preview > img{
  width: 100%;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 10px;
}

.main-text{
  height: 375px;
  width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  border-bottom: 1px solid gray;
  padding-bottom: 1em;
  display: flex;
    align-items: center;
}

.text-bottom{
  height: 60px;
  width: 65%;
  margin: 5px auto;
  /* padding: 30px; */
  /* padding-top: 25px; */
  padding-bottom: 5em;
}

.main-text-center > h1{
  font-size: 1.75em;
  width: 65%;
  margin: 0 auto;
  font-weight: 750;
  margin-bottom: 12px;
}

.main-text-center > h4{
  font-weight: 200;
  width: 65%;
  margin: 0 auto;
  font-size: .95em;
}

.first-preview{
  /* background-image: url(../images/Web\ 1920\ –\ 2\ copy.jpg);
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
  transition: .25s ease all; */
}


.project-preview:hover{
opacity: 0.75;
transition: .05s ease all;
}



.tag-container{
  width: 65%;
  margin: 20px auto;
  margin-bottom: 35px;
  border-bottom: 1px dotted gray;
  padding-bottom: 30px;
}

.tag-container:nth-of-type(5){
  border-bottom: none;
  margin-bottom: 3em;

}

.role{
  padding: 10px;
  border: 1px dotted black;
  border-radius: 8px;
  margin: 0px 7px 10px 0px;
  display: inline-block;
  font-size: .7em;
}

.second-preview{
  /* background-image: url(../images/Web\ 1920\ –\ 4.jpg);
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat; */
}


.third-preview{
  /* background-image: url(../images/JB_preview.jpg);
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat; */
}

.head-shot{
  height: 100px;
  width: 100px;
  background-image: url(../assets/images/Haaruun.jpg);
  background-size: 116%;
  border-radius: 50%;
  border: 10px solid white;
  margin: 0 auto;
  position: relative;
}

.head-shot::after{
  content: '';
  height: 122%;
  width: 122%;
  background: gray;
  position: absolute;
  margin: 0 auto;
  transform: translate(-50%,-9%);
  border-radius: 50%;
  z-index: -999999;
}


.fab, .fas{
  font-size: 1.75em;
  padding-right: 10px;
}

.icon-wrap{
 font-size: .7em;
}

.main-tag{
  /* margin-top: 2.25em; */
  padding-top: 3em;
  border-top: 1px solid gray;
  padding: 30px 30px 15px 30px;
}

.project-title{
  margin: 0 auto;
  width: 65%;
  font-weight: 700;
    font-size: 1.33em;
}


.main-wrapper{
  height: auto;
  overflow: hidden;
}




@keyframes slideUp {
  from {
      top: 10em;
      opacity: 0;
  }
  to {
      top: 0;
      opacity: 1;
  }
}

.content{
  position: relative;
  animation: slideUp 1.25s;
}

.active{
  color: #CF1259;
}

.project-wrapper{
  height: auto;
  width: 65%;  
  margin: 10px auto;
  margin-top: 1em;
}

.project-wrapper > img{
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 1.5em;
}

.project-text{
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px dotted gray;
  padding-bottom: 3.5em;
  font-size: .95em;
  /* font-family: 'Quicksand'; */
}


.project-copy{
  padding-bottom: 2em;
  font-size: .95em;
  border-top: 1px dotted gray;
  padding-top: 1.5em;
}


.project-desc{
  /* font-style: italic;
    color: gray; */
    font-size: .95em;
    margin: 0 auto;
    width: 65%;
    color: rgba(0,0,0,.8);
    font-weight: 400;
}

.project-tag{
  margin: 0 auto;
    width: 65%;
}



.contact-btn{
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 1);
  color: white;
  padding: 9px 17.5px 9px 17.5px;
  border-radius: 8px;
  margin-bottom: 17px;
  cursor: pointer;
  text-decoration: none;
  font-size: .75em;
  display: inline-block;
  transition: 0.25s ease all;
  min-width: 70px;
  border: 1.5px solid black;

}

.btn-outline{
  border: 1.5px solid black;
    color: black;
    outline: none;
    background: rgba(0, 0, 0, 0);
    padding: 9px 17.5px 9px 17.5px;
    border-radius: 8px;
    margin-bottom: 17px;
    cursor: pointer;
    text-decoration: none;
    font-size: .75em;
    display: inline-block;
    transition: 0.25s ease all;
    min-width: 70px;
}

.btn-outline:hover{
  color: white;
  background: rgba(0, 0, 0, 1);
}


.contact-btn:hover{
  background: rgba(0, 0, 0, 0);
  transition: 0.25s ease all;
  color: black;
}


.project-subtitle{
  padding: 20px 1px;
  border-bottom: 1px gray dotted;
  margin-bottom: 20px;
  font-size: 1.33em;
}

.next-prev{
  width: 100%;
  text-align: center;
}


.next-prev > a{
  padding: 2px 15px;
  color: black;
  text-decoration: none;
  transition: 0.25s ease-in;
}


.next-prev > a:hover{
background: black;
color: white;
transition: 0.25s ease-out;

}

.next-prev > a:nth-child(2){
  border-left: 1px solid black;
}


.view-next-btn-wtapper{
  width: 100%;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 5em;
}

.view-btn{
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 1);
  color: white;
  padding: 9px 17.5px 9px 17.5px;
  border-radius: 8px;
  margin-bottom: 17px;
  cursor: pointer;
  text-decoration: none;
  font-size: .75em;
  display: block;
  transition: 0.25s ease all;
  min-width: 70px;
  border: 1.5px solid black;
  max-width: 150px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 1.5em;
}


.view-btn:hover{
background: rgba(0, 0, 0, 0);
  transition: 0.25s ease all;
  color: black;
}


.next-prev-link{
  padding: 2px 15px;
  color: black;
  text-decoration: none;
  transition: 0.25s ease-in;
  font-size: .95em;
}

.next-prev-link:hover{
  color: gray;
}

.social-link{
  color: black;
  text-decoration: none;
  transition: 0.25s ease-in;
}
.social-link:hover{
  color: gray;
}

.res-co-wrapper{
  display: inline-block;
  border-top: 1px solid black;
  padding-top: 15px;
  margin: 0 auto;
  width: 50%;
}


.left-containter-top{
  padding-top: 1em;
    padding-bottom: 1em;
    height: 375px;
    display: flex;
    width: 100%;
    align-items: center;
}


.left-containter-top-center{
  width: 100%;
}

.left-containter-top-center > h1::after{
  content: '';
  height: 0px;
  width: 20px;
  position: absolute;
  bottom: -9px;
  width: 100%;
  margin: 0 auto;
  right: 0%;
  border-bottom: 2px dotted black;
}

.home-link{
  padding: 2px 15px;
  color: black;
  text-decoration: none;
  transition: 0.25s ease-in;
  margin-bottom: 0.5em;
  display: inline-block;
  font-size: .95em;
}

.home-link:hover{
  color: gray;
}


@media screen and (max-width: 1625px) {
  .left-containter-top-center > h1{
    width: 60%;
  }

  .res-co-wrapper{
    width: 60%;
  }
}


@media screen and (max-width: 1350px) {
  .btn-outline{
    width: 75%;
    margin-bottom: 10px;
  }
  
  .contact-btn{
    width: 75%;
    margin-bottom: 10px;
  }

}


@media screen and (max-width: 1350px) {
 
  .main-text-center > h1 {
    font-size: 1.25em;
  }
  

  
/* .main-text-center > h4 {
  font-size: .85em;
} */


  /* .head-shot {
    height: 80px;
    width: 80px;
  } */

  .left-containter-top-center > h1{
    /* border-bottom: 1px solid black;
    margin-bottom: 1em;
    font-weight: 900;
    width: 50%;
    font-family: gilroy; */
    margin: 10px auto;
    padding-bottom: 10px;
    font-size: 1.5em;
    /* display: block;
    position: relative; */
  }

  .res-co-wrapper{
    padding-top: 10px;
  }

  .contact-btn{
    font-size: 12px;
  }

  .btn-outline{
    font-size: 12px;
  }

  .left-containter-top-center > h1::after {
    bottom: -7px;
  }


 

}






@media screen and (max-width: 950px) {

  .left-containter-top-center > h1{
   width: 40%;
  }

  .res-co-wrapper {
    display: inline-block;
    border-top: 1px solid black;
    padding-top: 15px;
    margin: 0 auto;
    width: 40%;
  }
 
  .main-text-center > h1 {
    font-size: 1.25em;
    text-align: center;
  }
  

  
.main-text-center > h4 {
  /* font-size: .85em; */
  text-align: center;
}
  /* .name-break{
    display: none;
  } */

  .container{
    display: block;
  }

  .left-bar{
    width: 100%;
    border-bottom: 1px solid gray;
  }

  .main{
    width: 100%;
  }

  .main-text{
    /* text-align: center; */
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding-top: 2em;
    border-bottom: 1px solid gray;
    padding-bottom: 2em;
    display: flex;
    align-items: center;
  }

  .left-containter-top{
    padding-top: 2em;
    padding-bottom: 2em;
    height: auto;
    align-items: center;
    border-bottom: 1px solid gray;
  }

  .main-tag{
    padding: 2em 30px 2em 30px;
    margin: 0 auto;
    width: 65%;
    border-top: none;
  }

  .main-wrapper {
    height: auto;
    text-align: center;
}


}



@media screen and (max-width: 500px) {

  

  /* .contact-btn {
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 1);
    color: white;
    padding: 7px 15.5px 7px 15.5px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    transition: 0.25s ease all;
    min-width: 70px;
    border: 1.5px solid black;
    width: 80%;
}

.btn-outline {
  border: 1.5px solid black;
  color: black;
  outline: none;
  background: rgba(0, 0, 0, 0);
  padding: 7px 15.5px 7px 15.5px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  transition: 0.25s ease all;
  min-width: 70px;
  width: 80%;
} */

.btn-outline{
  width: 75%;
  margin-bottom: 10px;
  font-size: 12px;
}

.contact-btn{
  width: 75%;
  margin-bottom: 10px;
  font-size: 12px;
}

.main-tag {
  padding: 2em 0px 2em 0px;
  margin: 0 auto;
  width: 65%;
  border-top: none;
}






.main-text {
  /* text-align: center; */
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding-top: 2em;
  border-bottom: 1px solid gray;
  padding-bottom: 2em;
  display: flex;
  align-items: center;
}



.content {
  text-align: center;
}

}